/*------------------------------------------------------------------------------
 Button styling
------------------------------------------------------------------------------*/
@font-face {
    font-family: 'Brandon_reg';
    font-style: normal;
    font-weight: 400;
    src: url('../src/Fonts/Brandon_reg.otf'); 
    src: local('Brandon'), local('Brandon'),       
}

@font-face {
    font-family: 'Brandon_med';
    font-style: normal;
    font-weight: 500;
    src: url('../src/Fonts/Brandon_med.otf'); 
    src: local('Brandon'), local('Brandon'),       
}


html, body, #app {
    height: 100%;
    background-color: #F27794; 
    /* #ff0000 f42909*/
    color: #fff;
}

body {
    font-family: 'Brandon_reg', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: lighter;
}

a {
    color: white;
    /* text-decoration: none; */
    cursor: pointer;
    align-items: center;
}

a:hover {
    /* text-decoration: underline; */
    color: #800A27;
    transition: 0.25s;

}

/*  Wrapper all content container */
.wrapper{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
}

header{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
}

/*------------------------------------------------------------------------------
 Container styling
------------------------------------------------------------------------------*/
.logo-container{
    background-image: url("./Logotypes/logo_white.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    width: 180px;
    height: 180px;
}

main {
    padding-top:2rem;
    width: 100%;
}

main, .btn-container, .randomizer-container, .slot-machine, .slot-container, 
.info-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
}

.btn-container, .randomizer-container {
    padding-top: 2rem;
}
.slot-machine {
    background-color: #fff;
    color: #222;
    border-radius: 2px;
    width: 90%;
    font-size: 1.8rem;
    box-shadow: 0 2px 7px rgba(0,0,0,.3) inset, 0 0px 1px rgba(0,0,0,.2) inset;
    position: relative;
    overflow: hidden;
    height: 99px;
    text-transform: uppercase;
}

.slot-container {
    position: absolute;
    top: 0;
    left: 0;
}

.restaurant-container {
    text-align: center;
    width: 100%;
    height:100%;
    /* position: absolute; */
}

.rest-img {
    height: auto;
    width: 100%;
}

.info {
    width: 90%;
}

.info h1 {
    margin-bottom: 0.5rem;
}
.info p {
    margin: 0;
}

.info:nth-child(2) p {
    font-weight: lighter;
}

/* div[class="info"]:nth-child(2) p {
    color: red;
} */


/* .info:first-child {
    font-weight: lighter;
    color:red;
    background-color: red;
} */
.info:last-child {
    margin-top: 1rem;
}

.menu {
    width: 100%;
    height: 3rem;
    margin-top: 1.5rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    box-sizing: border-box;
}

.menu-item-container {
    width: 90%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/* .menu a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 20px;
    padding-right: 20px; */
    /* border: 1px solid red; */
    
/* } */
/* .menu a:hover {
    background-color: rgba(213, 172, 182, 0.5);
} */

/* CLASSNAME MORE INFO, link */
.moreInfo-link {
    padding-top: 20px;
}

/*------------------------------------------------------------------------------
 Button styling
------------------------------------------------------------------------------*/
button {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-right: 3rem;
    padding-left: 3rem;
    position: relative;
    font-family: 'Brandon', sans-serif;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1.5px solid #fff;
    background: none;
    width: 90%;
    color: #fff;
    height: 100px;
    margin-bottom: 2.5rem;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: lighter;
}

button:hover {
    box-shadow: 0 2px 7px rgba(0,0,0,.3), 0 0px 1px rgba(0,0,0,.2);
}

.btn-icon {
    width: 75px;
    height: 75px;
    padding-right: 10px;
}

/*------------------------------------------------------------------------------
 Media Queries
------------------------------------------------------------------------------*/

@media (min-width: 600px) { 
    button{
        max-width: 80%;            
    }
    .slot-machine{
        max-width: 80%;
    }
    .rest-img {
        width: 80%;
    }

    .menu {
        width: 80%;
    }
    .info {
        width: 80%;
    }
    .menu-item-container {
        width: 80%;
    }
    .menu a {
        padding-left: 25px;
        padding-right: 25px;
    }
 }

@media (min-width: 900px) {  
    button{
        max-width: 70%;
    }
    .slot-machine{
        max-width: 70%;
    }
    .rest-img {
        width: 70%;
    }
    .menu {
        width: 70%;
    }
    .info {
        width: 70%;
    }

    .menu a {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 1200px) { 
    button{
        max-width: 60%;
    }
    .slot-machine{
        max-width: 60%;
    }
    .rest-img {
        width: 60%;
    }
    .menu {
        width: 60%;
    }
    .info {
        width: 60%;
    }
    .menu a {
        padding-left: 40px;
        padding-right: 40px;
    }
}


@media (min-width: 1800px) {
    button{
        max-width: 50%;
    }
    .slot-machine{
        max-width: 50%;
    }
    .menu {
        width: 50%;
    }
    .rest-img {
        width: 50%;
    }
    .info {
        width: 50%;
    }
    .menu-item-container {
        width: 50%;
    }
 }
